@use "../abstracts" as *;

body {
  @include flex-column-align-center;
  box-sizing: border-box;
  background-color: $color-bg-main;
  font-family: $default-font-stack;
  font-weight: $default-font-weight;
  font-size: $default-font-size;
  color: $color-text-light;
}
