@use "../abstracts" as *;

.heading {
  font-weight: $default-font-weight-bold;
  font-size: scaleSize(20px, 28px);
  line-height: scaleSize(27px, 38px);
  color: $color-text-dark;
}

.paragraph {
  font-size: scaleSize(13px, 15px);
  line-height: scaleSize(23px, 21px);
}
