@use "../abstracts" as *;

body {
  font-family: $default-font-stack;
  font-weight: $default-font-weight;
  font-size: $default-font-size;
  color: $color-very-dark-cyan;
  text-align: center;
}

.heading {
  font-weight: $default-font-weight-heading;
  font-family: $default-font-stack-heading;

  &--hero {
    font-size: scaleSize(1.5rem, 2.5rem);
    line-height: scaleSize(2.25rem, 3.75rem);
  }

  &--stories {
    font-size: scaleSize(1.25rem, 1.75rem);
    line-height: scaleSize(1.875rem, 2.625rem);
  }

  &--cta {
    font-size: scaleSize(1.125rem, 2rem);
    line-height: scaleSize(1.875rem, 3.75rem);
  }
}

.paragraph {
  &--hero {
    font-size: scaleSize(1rem, 1.25rem);
    line-height: scaleSize(1.5rem, 1.875rem);
  }

  &--stories {
    color: $color-grey;
    font-size: scaleSize(0.875rem, 1.125rem);
    line-height: scaleSize(1.3125rem, 1.6875rem);
  }

  &--footer {
    color: $color-white;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin-left: 1.375rem;
    margin-right: auto;
  }

  &--copyright {
    color: $color-white;
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: $default-font-stack-heading;
  }
}
