// COLORS
// PRIMARY
$color-bg-slider-bar-full: hsl(174, 77%, 80%);
$color-bg-slider: hsl(174, 86%, 45%);
$color-bg-slider-hover: hsla(174, 73%, 70%, 1);
$color-bg-slider-grab: hsla(174, 65%, 41%, 1);
$color-bg-red: hsl(14, 92%, 95%);
$color-text-red: hsl(15, 100%, 70%);
$color-text-btn: hsl(226, 100%, 87%);

// NEUTRAL
$color-white: hsl(0, 0%, 100%);
$color-bg-main: hsl(230, 100%, 99%);
$color-bg-header: hsla(224, 85%, 97%, 1);
$color-bg-slider-bar: hsl(224, 65%, 95%);
$color-bg-toggle: hsl(223, 50%, 87%);
$color-text-light: hsl(225, 20%, 60%);
$color-text-dark: hsl(227, 35%, 25%);
$color-bg-btn: hsl(227, 35%, 25%);
