// COLORS
// PRIMARY
$color-pink: hsl(322, 100%, 66%);
$color-light-pink: hsl(321, 100%, 78%);
$color-light-red: hsl(0, 100%, 63%);
$color-very-dark-cyan: hsl(192, 100%, 9%);
$color-very-pale-cyan: hsl(193, 100%, 96%);
$color-grey: hsla(208, 12%, 55%, 1);
$color-very-pale-blue: hsl(207, 100%, 98%);
$color-white: #fff;

// GRADIENT
$color-gradient: linear-gradient(135deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);

// FONT
$default-font-size: 1rem;
$default-font-stack: "Open Sans", sans-serif;
$default-font-stack-heading: "Poppins", sans-serif;
$default-font-weight: 400;
$default-font-weight-heading: 600;
$default-font-weight-btn: 700;
