@use "../abstracts" as *;

.btn {
  &,
  &:link,
  &:visited {
    background-color: $color-bg-btn;
    display: inline-block;
    padding: 0.75rem;
    width: min(100% - 2 * 1.5rem, 10.625rem);
    text-decoration: none;
    font-family: inherit;
    font-weight: $default-font-weight-bold;
    font-size: 0.75rem;
    line-height: 1rem;
    color: $color-text-btn;
    border: none;
    border-radius: 1.2813rem;
    cursor: pointer;
    transition: transform 0.2s;
  }

  &:active {
    transform: scale(1.02);
  }

  &:hover {
    color: $color-white;
  }

  @include focus-styles($color-bg-btn);
}
