@use "../abstracts" as *;

.cta {
    @include flex-column-align-center;
    padding-top: scaleSize(24px, 32px);
    padding: scaleSize(24px, 32px) scaleSize(24px, 48px) 32px scaleSize(24px, 40px);

    @include respond(big-screen) {
        flex-direction: row;
        justify-content: space-between;
    }

    &__features {
        list-style-type: none;
    }

    &__btn {
        margin-top: 32px;

        @include respond(big-screen) {
            margin-top: 0;
        }
    }
}
