@use "../abstracts" as *;

.features {
    list-style-type: none;

    &__item {
        display: flex;
        align-items: center;

        &:is(:not(:first-child)) {
            margin-top: 0.625rem;
        }
    }

    &__icon {
        margin-right: 1rem;
    }

    &__paragraph {
        font-size: 0.75rem;
        line-height: 1rem;
    }
}
