@use "../abstracts" as *;

.image {
    &--hero {
        width: min(100%, 42.5rem);

        @include respond(medium-screen) {
            width: scaleSize(18.5rem, 42.5rem, 48rem, 90rem);
        }
    }

    &--story-1 {
        width: min(25.375rem, 100%);

        @include respond(medium-screen) {
            width: scaleSize(14.75rem, 25.375rem);
            order: 2;
        }
    }

    &--story-2 {
        width: min(26.0625rem, 100%);

        @include respond(medium-screen) {
            width: scaleSize(15.125rem, 26.0625rem);
        }
    }

    &--story-3 {
        width: min(26.25rem, 100%);

        @include respond(medium-screen) {
            width: scaleSize(15.25rem, 26.25rem);
            order: 2;
        }
    }
}
