@use "../abstracts" as *;

.link {
    text-decoration: none;
    color: #fff;
    text-align: left;
    transition: transform 0.2s;
    font-style: normal;
    cursor: pointer;

    &:hover {
        filter: brightness(0) saturate(100%) invert(90%) sepia(16%) saturate(6311%) hue-rotate(282deg) brightness(102%)
            contrast(101%);
    }

    &:focus,
    :focus-visible {
        outline-width: 3px;
        outline-style: dashed;
        outline-offset: 5px;
        outline-color: currentColor;
    }

    &:focus:not(:focus-visible) {
        outline: none;
        & img {
            outline: none;
        }
    }

    &--icon {
        &:focus,
        :focus-visible {
            & img {
                outline-width: 3px;
                outline-style: dashed;
                outline-offset: 5px;
                outline-color: $color-light-pink;
            }
        }

        & img {
            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7423%) hue-rotate(135deg)
                brightness(112%) contrast(100%);
        }
    }

    &--nav {
        &:hover {
            filter: none;
            text-decoration: underline;
        }
    }
}
