@use "../abstracts" as *;

.nav {
    &__list {
        list-style-type: none;

        @include respond(medium-screen) {
            column-count: 2;
            -moz-column-count: 2;
            -webkit-column-count: 2;
            column-gap: scaleSize(2.25rem, 8.9375rem);
        }
    }

    &__item {
        font-size: 0.875rem;
        line-height: 1.6875rem;
        text-align: left;

        &:is(:not(:last-child)) {
            margin-bottom: 1rem;
        }
    }
}
