@use "../abstracts" as *;

.price-calculator {
    @include flex-column-align-center;
    padding-bottom: scaleSize(2.375rem, 2.5rem);
    padding: scaleSize(2.125rem, 2.5rem) scaleSize(1.5rem, 3rem) scaleSize(38px, 40px) scaleSize(1.5rem, 2.5rem);

    @include respond(big-screen) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    &__pageviews {
        font-weight: $default-font-weight-bold;
        font-size: scaleSize(0.75rem, 0.875rem);
        line-height: scaleSize(1rem, 1.1875rem);
        letter-spacing: 0.125rem;
        text-transform: uppercase;

        @include respond(big-screen) {
            order: 1;
            margin-top: 1.125rem;
            width: 50%;
        }
    }

    &__slider {
        margin-top: 1.5rem;

        @include respond(big-screen) {
            order: 3;
            margin-top: 2.5rem;
            width: 100%;
        }
    }

    &__price {
        margin-top: 2.5rem;
        display: flex;
        align-items: center;
        font-size: scaleSize(0.875rem, 1rem);
        line-height: scaleSize(1.1875rem, 1.375rem);

        @include respond(big-screen) {
            order: 2;
            margin-top: 0;
            width: 50%;
            justify-content: flex-end;
        }

        & span {
            font-weight: $default-font-weight-bold;
            font-size: scaleSize(2rem, 2.5rem);
            line-height: scaleSize(2.75rem, 3.4375rem);
            letter-spacing: -0.0625rem;
            color: $color-text-dark;
            margin-right: 0.5rem;
        }
    }

    &__toggle {
        margin-top: scaleSize(2.125rem, 3.5rem);

        @include respond(big-screen) {
            order: 4;
            width: 100%;
        }
    }
}
