@use "../abstracts" as *;

.pricing-component {
    position: relative;
    width: min(100% - 1.5rem, scaleSize(20.4375rem, 33.75rem));
    margin-top: scaleSize(-10.375rem, -11.4375rem);
    background-color: $color-white;
    box-shadow: 0rem 1.25rem 1.875rem -0.3125rem rgba(127, 137, 185, 0.152073);
    border-radius: 0.5rem;
    z-index: 2;

    &__line {
        width: 100%;
        height: 0.0625rem;
        background-color: $color-bg-slider-bar;
    }
}
