@use "../abstracts" as *;

.story {
    @include flex-column-align-center;
    width: 100%;
    padding: 3.3125rem scaleSize(2.25rem, 7.5rem) 3.3125rem scaleSize(2.25rem, 7.5rem);
    border-radius: 1rem;
    box-shadow: 0rem 0rem 0.875rem rgba(0, 0, 0, 0.07);

    @include respond(medium-screen) {
        flex-direction: row;
        justify-content: space-between;
        padding: 3.3125rem scaleSize(2.25rem, 7.5rem, 48rem, 90rem) 3.3125rem scaleSize(2.25rem, 7.5rem, 48rem, 90rem);
    }

    &:is(:not(:first-child)) {
        margin-top: 2.5rem;
    }
}
