@use "../abstracts" as *;

.textbox {
    @include flex-column-align-center;
    text-align: center;

    & .paragraph {
        margin-top: scaleSize(8px, 12px);
        width: 180px;

        @include respond(medium-screen) {
            width: 367px;
        }
    }
}
