@use "../abstracts" as *;

.toggle {
    display: flex;
    align-items: center;
    justify-content: center;

    &__label {
        width: 5.3125rem;
        font-size: 0.75rem;
        line-height: 1rem;
        position: relative;
    }

    &__discount {
        position: absolute;
        width: max-content;
        padding: 0.125rem 0.4375rem;
        top: 0;
        margin-left: 0.3125rem;
        border-radius: 0.5938rem;
        font-size: 0.625rem;
        line-height: 0.875rem;
        color: $color-text-red;
        background-color: $color-bg-red;

        & span {
            display: none;

            @include respond(big-screen) {
                display: initial;
            }
        }
    }
}
