@use "../abstracts" as *;

.toggle {
    display: flex;
    align-items: center;
    justify-content: center;

    &__label {
        width: 85px;
        font-size: 12px;
        line-height: 16px;
        position: relative;
    }

    &__discount {
        position: absolute;
        width: max-content;
        padding: 2px 7px;
        top: 0;
        margin-left: 5px;
        border-radius: 9.5px;
        font-size: 10px;
        line-height: 14px;
        color: $color-text-red;
        background-color: $color-bg-red;

        & span {
            display: none;

            @include respond(big-screen) {
                display: initial;
            }
        }
    }
}
