@use "../abstracts" as *;

.footer {
    @include flex-column-align-center;
    background-color: $color-very-dark-cyan;
    margin-top: min(-4.1875rem, -6rem); /* 308px/82.13vw , 343*/
    padding-top: 190px;
    padding-bottom: scaleSize(2.875rem, 4rem);
    width: 100%;
    position: relative;
    z-index: 1;

    @include respond(medium-screen) {
        padding-top: 12.5rem;
    }

    &__inner {
        width: min(100% - 2 * scaleSize(1rem, 5rem), 79.375rem);
        @include flex-column-align-center;
        align-items: flex-start;

        @include respond(medium-screen) {
            width: min(100% - 2 * scaleSize(1rem, 5rem), 80rem);
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;
            position: relative;
        }
    }

    &__contact {
        @include respond(medium-screen) {
            margin-bottom: 1.5rem;
        }
    }

    &__nav {
        margin-top: 2.5625rem;

        @include respond(medium-screen) {
            margin-top: 0rem;
        }
    }

    &__social-media-panel {
        margin-top: 1.5rem;

        @include respond(medium-screen) {
            margin-top: 0rem;
        }
    }

    &__copyright {
        margin-top: 1.5rem;
        align-self: center;

        @include respond(medium-screen) {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}
