@use "../abstracts" as *;

.header {
  position: absolute;
  @include flex-column-align-center;
  width: 100%;
  text-align: center;

  &__inner {
    width: min(100% - 2 * scaleSize(1rem, 5rem), 80rem);
    margin-top: scaleSize(1.6875rem, 4.25rem);
    display: flex;

    align-items: center;
    justify-content: space-between;
  }
}
