@use "../abstracts" as *;

.header {
  @include flex-column-align-center;
  width: 100%;
  border-radius: 0px 0px 0px 191.5px;
  padding-top: scaleSize(57px, 67px);
  padding-bottom: scaleSize(198px, 237px);
  background-color: $color-bg-header;

  &__textbox {
    width: 100%;
    padding-top: scaleSize(32px, 37px);
    padding-bottom: scaleSize(32px, 37px);
    background-image: url("../assets/pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
